body{
    background: #F1F2F3;
}

/* Header */

.header-nav{
    color: #fff;
}

.header-nav a:hover{
    background: transparent;
}
.header-nav a.active span::after{
    content: '';
    position: relative;
    top: 6px;
    left: 50%;
    display: block;
    width: 100%;
    height: 3px;
    transform: translateX(-50%);
    transition: all .3s ease-in-out;
    background-color: #FFC001;
}
.header-nav a span::after{
    content: '';
    position: relative;
    top: 6px;
    left: 50%;
    display: block;
    width: 100%;
    height: 3px;
    transform: translateX(-50%);
    transition: all .3s ease-in-out;
    background-color: #121620;
}
.header-nav a:hover span::after{
    content: '';
    position: relative;
    top: 6px;
    left: 50%;
    display: block;
    width: 100%;
    height: 3px;
    transform: translateX(-50%);
    transition: all .3s ease-in-out;
    background-color: #FFC001;
}
.search-input{
    border-radius: initial;
    font-size: 0.85em !important;
    color: #fff;
}
.search-input:active,.search-input:focus,.search-input:focus-visible{
    border-color: #FFC001 !important;
    box-shadow: 0 0 0 1px #FFC001 !important;
}
.site-name-heading{
    letter-spacing: 1px;
}
.srw-container{
    position: relative;
    margin: 0 !important;
}
.suggested-results-wrap{
    z-index: 1000;
    width: 375px;
    position: absolute;
    right: 0;
    margin-top: 5px !important;
}
.suggested-result-img{
    max-width: 53px;
    max-height: 80px;
    width: 100% !important;
    height: 100% !important;
    object-fit: cover;
}
.sm-wrap{
    padding: 16px 16px 16px;
}
.show-more-btn{
    background-color: #FFC001 !important;
    margin:0px !important;
}
.search-results-wrap{padding-bottom: 24px !important;}
.search-link{text-decoration: none !important;}

/* Movie Card */
/* .movie-card{
    opacity: 0;
} */
.movie-card-body{
    opacity: 0;
    position: absolute;
    bottom: -1px;
    width: 100%;
    backdrop-filter: blur(20px);
    color: #fff;
}
/* .movie-card-body .movie-date{
    color: #A37415;
} */
.movie-card-body .movie-title{
    text-transform: uppercase;
    font-size: 14px;
}

.movie-card-skeleton{
    border-radius: initial !important;
}
.movie-card-skeleton .movie-card-skeleton-body{
    background-color: #F1F2F3 !important;
}
.movie-card .blank-img{height: 351px;}

/* Header Filter */

.header-filters{
    padding-bottom: 44px;
    display: flex;
    list-style: none;
    color: #121620;
}
.header-filters a{
    display: block;
    font-size: 1rem;
    font-weight: bold;
    white-space: nowrap;
    margin-right: 24px;
    cursor: pointer;
    border-bottom: 4px solid #F1F2F3;
}
.header-filters .filter-name.active a {
    /* border-bottom: 4px solid; */
    border-color: #FFC001;
    padding-bottom: 6px;
}
.header-filters .filter-name a:hover {
    border-bottom: 4px solid;
    border-color: #FFC001;
    padding-bottom: 6px;
}

/* Pagination */

.page-item:first-child .page-link {
    border-top-left-radius: initial;
    border-bottom-left-radius: initial;
}
.page-item:last-child .page-link {
    border-top-right-radius: initial;
    border-bottom-right-radius: initial;
    }
.pagination li.page-item.selected {
    background-color: #FFC001;
}
.pagination li.page-item.selected a{
    color: #fff;
    background-color: #FFC001;
}
.page-link {
    color: #3b5d50;
    background-color: transparent;
    border: 1px solid #FFC001;
}
.pagination{
    margin-bottom: 0px;
    display: flex;
    list-style: none;
    justify-content: flex-end;
}
.pagination .page-item.disabled .page-link {
    color: #3b5d50;
    background-color: transparent;
    border-color: #FFC001;
}
.pagination .page-link:hover {
    z-index: 2;
    color: #fff;
    background-color: #FFC001;
    border-color: #FFC001;
}
.pagination .page-link {
    padding: 0.3rem 0.75rem;
}
.pagination .page-link:focus {
    background-color: #FFC001;
    color:#fff;
    box-shadow: initial;
}
.pagination .page-item.disabled .page-link {
    color: #6c757d;
    pointer-events: none;
}

/* Percentage Canva */

.canvas-progress{
    position: absolute;
    top: -15px;
    right: 20px;
    background-color: #121620;
    border-radius: 100%;
}  

/* Sidebar Filters */

.sorting-filter{
    border: 2px solid #c0c0c0 !important;
    border-color: #c0c0c0 !important;
}

fieldset {
    border: 2px solid #c0c0c0;
    gap: 0.8em;
    display: flex;
    flex-wrap: wrap;
    margin: 2px !important;
    padding: 0.35em 0.75em 0.625em !important;
}
legend {
    box-sizing: border-box;
    color: #121620 !important;
    display: table;
    padding: 5px !important;
    padding-inline-start: 2px;
    padding-inline-end: 2px;
    font-weight: 600;
}
.genre-tag{
    background-color: transparent;
    border: 1px solid #FFC001;
}
.genre-tag:hover{
    transform: scale(1.1);
    background-color: #FFC001;
    cursor: pointer;
}

/* Header Types */

.header-types-wrap .chakra-radio__label{
    color: #000 !important;
    font-weight: 700 !important;
}
.chakra-radio__control{
    border: 2px solid #c0c0c0 !important;
}
.chakra-radio__control[data-checked] {
    background: #FFC001 !important;
    border-color: #FFC001 !important;
}
.fixed-footer{
    position: fixed;
    bottom: 0px;
    width: 100%;
}


.load-more-btn{
    background-color: #FFC001 !important;
    margin:0px !important;
}

/* Media Queries */

@media(max-width:580px){
    .header-box{
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .header-filters {
        flex-wrap: wrap;
    }
    .mobile-nav a{color: #fff;}
    .load-more-btn{width: 100% !important;}
    .inner-wrap{flex-direction: column;}
    .fixed-footer{position: relative;}
    .header-main-text{justify-content: center;}
    .filtermovies-flex{flex-direction: column;}
    .sidebar-wrap{padding: 0px !important;}
}

